body{
    background-image: url(https://res.cloudinary.com/drewzawmk/image/upload/v1620569752/blogbackground_vkyw9v.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.header {
    position: absolute;
    height: 80%;
    width: 100%;
    top: 0px;
    left: 0px;
    float: left;
}
.menu {
    width: 100%;
    height: 15%;
    padding: 10px;
}

.primary-menu {
    list-style-type: none;
    margin-left: 125px;
    margin-top: 20px;
}

.menu-list-item {
    display: inline;
    font-family: "Open Sans Condensed";
    font-size: 25px;
    text-align: left;
}

.menu-list-item a {

    padding: 5px 10px;

}

 a {
    text-decoration: none;
}

 .primary-menu a:link {
    color: gray;
}

.primary-menu a:hover {
    color: black;
}

.primary-menu a:active,
a:visited {
    color: gray;
}


h2 {
    color: purple;
}

h2:hover {
    color: plum;
}
h2:active {
    color: purple;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 135%;	
}

h2 {
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: 500;
}

#container {
	width: 1140px;
	margin: 20px auto;
    padding: 10px;
}

#blog-post-container {
	width: 75%;
	float: left;
}

#other-posts {
	width: 25%;
	float: left;
	padding-left: 10px;
}

.box {
	background: white;
	margin-bottom: 15px;
	padding: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.06);
	
}

.blog-post {
	position: relative;
}

.blog-post img {
	width: 100%;
}

.date {
	position: absolute;
	right: 50px;
	top: 20px;
	color: #aaa;
	font-size: 12px;
}

.blog-text {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 16px;
	color: #aaa;
	line-height: 22px;
	text-align: justify;
}


ul{
	list-style-type: none;	
}

ul li{
	margin-bottom: 10px;
}


